.defaultLayout {
  $navHeight: 48px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .mainContainer {
    height: calc(100% - $navHeight);
  }
  .navContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: $navHeight;
    background: #fff;
    border-top: 1px solid #ddd;
    .navList {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      .listItem {
        color: rgba(51, 51, 51, 0.6);
        a.active {
          color: #333;
        }
      }
    }
  }
}
