$navBarHeight: 48px;
$tabBarHeight: 48px;

.defaultLayout {
  width: 100%;
  height: 100vh;
  padding-top: $navBarHeight;
  overflow: hidden;

  &.noNavBar {
    padding-top: 0;
  }
  .navBarWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $navBarHeight;
  }
  .mainContainer {
    height: calc(100% - $tabBarHeight);
  }
  .tabBarWrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: $tabBarHeight;
    .tabBarContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      background: #fff;
      border-top: 1px solid #ddd;
      .tabBarItem {
        color: rgba(51, 51, 51, 0.6);
        a.active {
          color: #333;
        }
      }
    }
  }
}
